.header {
  display: flex;
  justify-content: space-betweence;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: 0 0 40px rgb(2, 70, 69);
  border-radius: 10px;
  background: linear-gradient(141.22deg, #a4f0f4 9.4%, #038faf 91.91%);
  text-shadow: 0 0.4px 0.4px #fff;
}
.active {
  color: brown;
}
