.header {
  display: flex;
    position: sticky;
    z-index: 1200;
    width: 100vw;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
  border-bottom: 1px solid #2a363b;    
  background-color: rgb(129, 246, 252);
  box-shadow: 10px 10px 18px -2px rgb(7, 82, 82);
  border-radius: 10px;
    
}



