.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  box-shadow: 10px 10px 18px -2px rgb(5, 60, 51);
    transition: transform 250ms linear;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  margin-bottom: 5px
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  padding: 12px;
  width: 300px; 
  border-radius: 10px;
  font-size: 16px;
  background-color:#5ae1e8;
  box-shadow: 10px 10px 18px -2px rgb(4, 64, 60);
    transition: transform 250ms linear;
}

  &:focus {
    outline: none;
    border: 1px solid #077c7e;
  }


.btn {
  margin-top: 15px;
  padding: 12px;
  width: 140px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #137f81;
  color: #fff;
  cursor: pointer;
  box-shadow: 10px 10px 18px -2px rgb(6, 60, 56);
    transition: transform 250ms linear;

  &:hover {
    background-color: #5ae1e8;
  }
}

.field {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}