.form {
  display: flex;
  flex-direction: column;
  max-width: 300vw; 
  margin: auto;
  margin-bottom: 20px;
   /* background-color: rgb(228, 180, 164);
  box-shadow: 10px 10px 18px -2px rgb(179, 89, 4); 
   */
}

.input {
  padding: 8px;
  font-size: 16px;
  
} 

 .btn {
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px; 
} 
 
.err {
  color: rgb(205, 78, 78);
  font-size: 13px;
}