.form * {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}



.form {
  height: 480px;
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(8, 79, 87, 0.1);
  box-shadow: 0 0 40px rgba(107, 49, 1, 0.6);
  padding: 50px 35px;
  margin-top: 40px;
  background: linear-gradient(141.22deg, #f4cd6a 9.4%, #f67558 91.91%);
}
.label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}  

.input {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 40px rgb(119, 43, 3);
}

.button {
  margin-top: 50px;
  width: 100%;
  color: rgb(88, 35, 8);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 40px rgb(69, 26, 2);
}
.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: rgb(184, 5, 5);
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

.err {
  color: #ff512f;
}

@media only screen and (min-width: 767.98px) {
  .form {
    height: 480px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);   
    box-shadow: 0 0 40px #652901;
    padding: 50px 35px;
    background: linear-gradient(141.22deg, #f4cd6a 9.4%, #f67558 91.91%);
  }
}