.form * {
  font-family: 'Poppins', sans-serif;
  color: #e3edef;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;

}



.form {
  height: 420px;
  width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(8, 79, 87, 0.1);
  box-shadow: 0 0 40px rgba(4, 71, 81, 0.6);
  padding: 50px 35px;
  margin-top: 40px;
  text-shadow: 0 0.4px 0.4px #fff;
}

.label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 250;
}

.input {
  display: block;
  height: 50px;
  width: 220px;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #d7e7f6;
  box-shadow: 0 0 40px rgb(4, 56, 68);
}

.button {
  margin-top: 80px;
  width: 220px;
  color: rgb(5, 54, 55);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 40px rgb(2, 70, 69);
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: rgb(184, 5, 5);
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  color: white;
  text-align: center;
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

.err {
  color: #ff512f;
}

@media only screen and (min-width: 767.98px) {
  .form {
    
    height: 420px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px #02474e;
    padding: 10px 35px;
    background: linear-gradient(141.22deg, #a4f0f4 9.4%, #038faf 91.91%);
    text-shadow: 0 0.4px 0.4px #fff;
    box-shadow: 0 0 40px rgb(2, 70, 69);
  }
}