html {
  margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(181, 239, 229, 0.1),
        rgba(181, 239, 229, 0.1)), url(../src/images/phon.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: rgb(2, 77, 74);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn {
  border-radius: 10px;
}
.lable {
  border-radius: 10px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #024d4a;
}

main {
  padding: 40px 20px;
}
