body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(rgba(181, 239, 229, 0.1), rgba(181, 239, 229, 0.1)),
    url(../src/images/tel.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 2em;
  line-height: 1.1;
  color: rgb(253, 252, 250);
  display: flex;
 
}
.label {
  background-color: rgb(255, 255, 255);

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: rgb(255, 255, 255);
  transition: border-color 0.25s;
  box-shadow: 0 6px 8px rgb(2, 70, 78), 0 -2px 1px rgb(2, 45, 59);
}

button:hover button:focus {
  border-color: rgb(16, 64, 98);
  color: rgb(216, 244, 244);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */