body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(76, 190, 236, 0.1), rgba(76, 190, 236, 0.1)),
    url(../src/images/phon.jpg);
  display: flex;
  justify-content: center;
}


.text {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  font-size: 20px;
  margin-top: 20px;
}



@media only screen and (min-width: 320px) {
  .text {
    padding-left: 6px;
    padding-right: 6px;
  }
}